* {
  margin: 0px;
  padding: 0px;
}

body {
  padding: 10px;
  background:url(https://res.cloudinary.com/pollie/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1606772272/AlpineWB_bzkw1l.jpg) no-repeat fixed;
  background-size:100%;
}

.replies {
  margin-left: 50px;
}

.reply {
  border: 1px dotted black;
  margin: 5px;
  padding: 5px;
}
.reply:hover {
  background:white;
}

.newReply {
  margin: 10px 5px 10px 5px;
}

.thread {
  border: 2px solid black;
  padding: 5px;
  margin-bottom: 5px;
}
.thread:hover {
  background:white;
}

.id {
  font-size: 10.5px;
}

.myForm {
  border: 2px solid black;
  padding: 5px;
  margin-bottom: 5px;
  width:30%;
}
}


#submitNewThread {
  margin: 50px;
}

#userstories:hover {
  background:white;
}