* {
  margin: 0px;
  padding: 0px;
}

body {
  padding: 10px;
  background: url(
      https://res.cloudinary.com/pollie/image/upload/v1606772272/AlpineWB_bzkw1l.jpg
    )no-repeat;
  background-size: 100%;
  background-attachment: fixed;
}

form {
  border-radius: 8px;
}

.background {
  background-color: rgba(114, 211, 254, 0.5);
}

.id {
  font-size: 10.5px;
}

.main {
}
.main:hover {
  background: white;
}

.myForm {
  border: 2px solid black;
  padding: 5px;
  margin-bottom: 5px;
  width: 30%;
}

.newReply {
  margin: 10px 5px 10px 5px;
}

.replies {
  margin-left: 50px;
}

.reply {
  border: 1px dotted black;
  margin: 5px;
  padding: 5px;
}
.reply:hover {
  background: white;
}

.thread {
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
}
.thread:hover {
  background: white;
}

#submitNewThread {
  margin: 50px;
}

#userstories:hover {
  background: white;
}
